html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family:  'Roboto Slab', serif, Times, serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #182848;
  background: -webkit-linear-gradient(to right, #e8f5ff, #c3e3fd); 
  background: linear-gradient(to right, #e8f5ff, #c3e3fd); 
  
  
}

a{
  text-decoration: none;
}

li, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

h2, h4, h3{
  margin-bottom: 0;
}

hr{
  color: black;
  width: 90%;
}

.btn{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  
}

.header{
  display: grid;
  grid-template-columns: 15% 1fr;
  width: 100%;
  height: 100px;
  text-align: center;
  background: -webkit-linear-gradient(to right, #c3e3fd, #9acef8);
  background: linear-gradient(to right, #c3e3fd, #9acef8);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

.header h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 15%;
  text-shadow: 3px 3px 3px white;

}

.aside{
display: flex;
justify-content: center;
align-items: center;
position: fixed;
width: 100%;
background-color: rgba(248, 242, 242, 0.747);
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 990;
transform: translateX(-150%);

}

.asideAppear{
  transform: translateX(0%);
}

.aside-nav{
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
text-align: center;
}

.aside-nav ul{
  width: inherit; 
  padding: 0;
}

.aside-li{
  list-style: none;
  margin-bottom: 0.5rem;
  padding: 1rem;
  width: inherit;
  cursor: pointer;
  text-align: center;
}

.aside-li span{
  font-weight: bold;
  font-size: 25px;
}


.aside-li:hover{
  background-color: #00000065;
  color: white;
}

.section{
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 40px ;
  padding-bottom: 40px ;

}

.section .div-link{
  display: flex;
  justify-content: space-evenly;
}

.imgHome{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.imgExp{
  width: 100%;
  height: 65%;
  object-fit: contain;
  object-position: center center;
}



.tecno-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  padding: 0;
}

.tecno-li{
  margin: 10px 30px;
  list-style: none;
  border: 1px #D7DDE8 solid;
  box-shadow: 1px 1px 4px 2px #D7DDE8;
  border-radius: 15px;
  padding: 8px;
}


.layout-div{
  width: 100%;
  height: 100%;
  
}

#root{
  width: 100%;
  min-height: 100%;
  
}

@media (max-width: 380px ) {

  .header h1{
    margin-right: 5%;
  }
  
  .header button{
    margin-left: 5%;
  } 

}